.navbar {
  background-color: #048DC9;

  .navbar-brand {
    font-family: 'Shrikhand';

    a {
      letter-spacing: 2px;
      color: white;
      margin-right: 18px;
      text-decoration: none;
    }

    .header-icon {
      color: white;
      font-size: 1.6rem;
    }
  }

  button {
    font-family: 'Roboto Mono';
  }
}
