body {
  font-family: 'Roboto Mono';
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  margin: 12px 0;
}

input[type='text'] {
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  font-family: 'Anonymous Pro';
  font-size: 1rem;
  width: 96%;
}

textarea {
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  font-family: 'Anonymous Pro';
  font-size: 1rem;
  width: 96%;
}

button {
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.icon {
  font-family: 'fontello-icons';
}

.input {
  margin: 12px 0;
}

.post-side-menu {
  display: none;
}

@media (min-width: 992px) {
// @include media-breakpoint-up(lg) {
  .post-side-menu {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1197px) {
}
