body {
  font-family: 'Anonymous Pro';
  font-size: 16px;
  text-align: center;
  margin: 12px 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 0 0 12px 0;
}

h2 {
  font-size: 1.3rem;
  margin: 0 0 8px 0;
}

header {
  margin: 12px 16px;
}

.page {
}

.post-listings {
  margin: 48px 0 0 0;
}
