<div class="post-listing">
  {{#if admin}}
    {{#link-to 'admin.posts.post' post class='menu-link'}}
      <div class="menu-item">
        <h2>{{post.title}}</h2>
        {{#post-controls post=post}}{{/post-controls}}
      </div>
    {{/link-to}}
  {{else}}
    {{#link-to 'posts.post' post class='menu-link'}}
      <div class="menu-item">
        <h2>{{post.title}}</h2>
      </div>
    {{/link-to}}
  {{/if}}
</div>
