<div class="new-post">
  <div class="input">
    <label>title:</label>
    {{input value=title placeholder="title here..."}}
  </div>
  <div class="input">
    <label>content:</label>
    {{textarea value=content placeholder="Article markdown goes here..." rows="600" cols="1000" wrap="off"}}
  </div>
  <button {{action 'addPost'}}>Add Post</button>
  {{outlet}}
</div>
