<div class="new-post">
  <div class="input">
    <label>title:</label>
    {{input value=title placeholder="title here..."}}
  </div>
  <div class="input">
    <label>content:</label>
    {{textarea value=content placeholder="Article markdown goes here..." wrap="on"}}
  </div>
  <button {{action 'addPost'}}>Add Post</button>
</div>
