{{#link-to 'admin.posts.new' class="button"}}
  New Post
{{/link-to}}
<div class='post-listings'>
  {{#each model as |post|}}
    {{#post-listing model=post admin='true'}}{{/post-listing}}
  {{/each}}
</div>

{{outlet}}
