<h2>My Posts here:</h2>

{{#link-to 'admin.posts.new' class="button"}}
  New Post
{{/link-to}}
<div class='posts'>
  {{#each model as |post|}}
    {{#post-listing post=post admin='true'}}{{/post-listing}}
  {{/each}}
</div>

{{outlet}}
