<article class=post-article>
  <header class="post-header">
    <h1 class="title">{{post.title}}</h1>

    {{#if admin}}
      {{#post-controls post=post}}{{/post-controls}}
    {{/if}}

    <div class='row article-info'>
      <p>
        <span>{{created_at_formatted}}</span>
        <span class="title-icon">{{fa-icon "microchip"}}</span>
        <span><a href="http://jackflannery.me">Jack Flannery</a></span>
      </p>
    </div>
  </header>
  <div class="post-content">
    {{markdown-to-html post.content}}
  </div>
</article>
