<div class="post-header">
  <h2>{{model.title}}</h2>
  <span>{{created_at_formatted}}</span>
  <span class="icon feather">r</span>
  <span>Jack Flannery</span>
</div>
<div class="post-content">
  {{markdown-to-html model.content}}
</div>
